/dts-v1/;

/memreserve/	0x0000000080000000 0x0000000008000000;
/ {
	compatible = "fsl,imx8qm-arm2", "fsl,imx8qm";
	interrupt-parent = <0x1>;
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Freescale i.MX8QM ARM2";

	cpus {
		#address-cells = <0x2>;
		#size-cells = <0x0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x0>;
			enable-method = "psci";
			next-level-cache = <0x2>;
			cpu-idle-states = <0x3>;
			operating-points = <0x124f80 0x118c30>;
			clocks = <0x4 0x1>;
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
		cpu_suspend = <0xc4000001>;
		cpu_off = <0xc4000002>;
		cpu_on = <0xc4000003>;
	};

	pmu {
		compatible = "arm,armv8-pmuv3";
		interrupts = <0x1 0x7 0x3f04>;
		interrupt-affinity = <0x6 0x7>;
	};

	aliases {
		dpu0 = "/dpu@56180000";
		dpu1 = "/dpu@57180000";
		ethernet0 = "/ethernet@5b040000";
		ethernet1 = "/ethernet@5b050000";
		ldb0 = "/ldb@562410e0";
		ldb1 = "/ldb@572410e0";
		serial0 = "/serial@5a060000";
		mmc0 = "/usdhc@5b010000";
		mmc1 = "/usdhc@5b020000";
		mmc2 = "/usdhc@5b030000";
	};

	memory@970000000 {
		device_type = "memory";
		reg = <0x9 0x70000000 0x0 0x10000000>;
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x28000000>;
			alloc-ranges = <0x0 0x90000000 0x0 0x28000000>;
			linux,cma-default;
		};

		rpmsg@0xb8000000 {
			no-map;
			reg = <0x0 0xb8000000 0x0 0x400000>;
		};
	};

	interrupt-controller@51a00000 {
		compatible = "arm,gic-v3";
		reg = <0x0 0x51a00000 0x0 0x10000 0x0 0x51b00000 0x0 0xc0000>;
		#interrupt-cells = <0x3>;
		interrupt-controller;
		interrupts = <0x1 0x9 0x3f04>;
		linux,phandle = <0x1>;
		phandle = <0x1>;
	};

	mu@5d1b0000 {
		compatible = "fsl,imx8-mu";
		reg = <0x0 0x5d1b0000 0x0 0x10000>;
		interrupts = <0x0 0xb0 0x4>;
		fsl,scu_ap_mu_id = <0x0>;
		status = "okay";
	};

	clk {
		compatible = "fsl,imx8qm-clk";
		#clock-cells = <0x1>;
		linux,phandle = <0x4>;
		phandle = <0x4>;
	};

	iomuxc {
		compatible = "fsl,imx8qm-iomuxc";

		imx8qm-arm2 {

			esai0grp {
				fsl,pins = <0x68 0x0 0xc600004c 0x69 0x0 0xc600004c 0x6a 0x0 0xc600004c 0x6b 0x0 0xc600004c 0x6c 0x0 0xc600004c 0x6d 0x0 0xc600004c 0x6e 0x0 0xc600004c 0x6f 0x0 0xc600004c 0x70 0x0 0xc600004c 0x71 0x0 0xc600004c 0x73 0x0 0xc600004c>;
				linux,phandle = <0x8c>;
				phandle = <0x8c>;
			};

			fec1grp {
				fsl,pins = <0xa6 0x0 0x6000048 0xa5 0x0 0x6000048 0xf4 0x0 0x6000048 0xf3 0x0 0x6000048 0xf5 0x0 0x6000048 0xf6 0x0 0x6000048 0xf7 0x0 0x6000048 0xf8 0x0 0x6000048 0xf9 0x0 0x6000048 0xfa 0x0 0x6000048 0xfb 0x0 0x6000048 0xfc 0x0 0x6000048 0xfd 0x0 0x6000048 0xfe 0x0 0x6000048>;
				linux,phandle = <0x7c>;
				phandle = <0x7c>;
			};

			fec2grp {
				fsl,pins = <0xaa 0x0 0x6000048 0xa9 0x0 0x6000048 0x101 0x0 0x6000048 0x100 0x0 0x6000048 0x102 0x0 0x6000048 0x103 0x0 0x6000048 0x104 0x0 0x6000048 0x105 0x0 0x6000048 0x106 0x0 0x6000048 0x107 0x0 0x6000048 0x108 0x0 0x6000048 0x109 0x0 0x6000048 0x10a 0x0 0x6000048 0x10b 0x0 0x6000048>;
				linux,phandle = <0x7f>;
				phandle = <0x7f>;
			};

			lvds0lpi2c1grp {
				fsl,pins = <0x36 0x0 0xc600004c 0x37 0x0 0xc600004c>;
			};

			lvds1lpi2c1grp {
				fsl,pins = <0x3c 0x0 0xc600004c 0x3d 0x0 0xc600004c>;
			};

			hdmilpi2c0grp {
				fsl,pins = <0x52 0x0 0xc600004c 0x53 0x0 0xc600004c>;
				linux,phandle = <0x47>;
				phandle = <0x47>;
			};

			mipi0_lpi2c0grp {
				fsl,pins = <0x3f 0x0 0xc600004c 0x40 0x0 0xc600004c>;
				linux,phandle = <0x59>;
				phandle = <0x59>;
			};

			lpi2c0grp {
				fsl,pins = <0x52 0x1 0xc600004c 0x53 0x1 0xc600004c>;
				linux,phandle = <0x3a>;
				phandle = <0x3a>;
			};

			lpi2c1grp {
				fsl,pins = <0xf 0x1 0xc600004c 0x10 0x1 0xc600004c>;
				linux,phandle = <0x3f>;
				phandle = <0x3f>;
			};

			lpuart0grp {
				fsl,pins = <0x15 0x0 0x600004c 0x16 0x0 0x600004c 0x17 0x0 0x600004c 0x18 0x0 0x600004c>;
				linux,phandle = <0x5d>;
				phandle = <0x5d>;
			};

			lpuart1grp {
				fsl,pins = <0x1a 0x0 0x600004c 0x19 0x0 0x600004c 0x1c 0x0 0x600004c 0x1b 0x0 0x600004c>;
				linux,phandle = <0x60>;
				phandle = <0x60>;
			};

			lpuart3grp {
				fsl,pins = <0xd 0x2 0x600004c 0xe 0x2 0x600004c>;
				linux,phandle = <0x64>;
				phandle = <0x64>;
			};

			mlbgrp {
				fsl,pins = <0x8e 0x0 0x21 0x8f 0x0 0x21 0x90 0x0 0x21>;
				linux,phandle = <0x6c>;
				phandle = <0x6c>;
			};

			isl29023grp {
				fsl,pins = <0x8b 0x3 0x21>;
				linux,phandle = <0x40>;
				phandle = <0x40>;
			};

			usdhc1grp {
				fsl,pins = <0xd1 0x0 0x6000041 0xd2 0x0 0x21 0xd3 0x0 0x21 0xd4 0x0 0x21 0xd5 0x0 0x21 0xd6 0x0 0x21 0xd7 0x0 0x21 0xd8 0x0 0x21 0xd9 0x0 0x21 0xda 0x0 0x21 0xdb 0x0 0x6000041 0xdc 0x0 0x21>;
				linux,phandle = <0x6f>;
				phandle = <0x6f>;
			};

			usdhc1grp100mhz {
				fsl,pins = <0xd1 0x0 0x6000040 0xd2 0x0 0x20 0xd3 0x0 0x20 0xd4 0x0 0x20 0xd5 0x0 0x20 0xd6 0x0 0x20 0xd7 0x0 0x20 0xd8 0x0 0x20 0xd9 0x0 0x20 0xda 0x0 0x20 0xdb 0x0 0x6000040 0xdc 0x0 0x20>;
				linux,phandle = <0x70>;
				phandle = <0x70>;
			};

			usdhc1grp200mhz {
				fsl,pins = <0xd1 0x0 0x6000040 0xd2 0x0 0x20 0xd3 0x0 0x20 0xd4 0x0 0x20 0xd5 0x0 0x20 0xd6 0x0 0x20 0xd7 0x0 0x20 0xd8 0x0 0x20 0xd9 0x0 0x20 0xda 0x0 0x20 0xdb 0x0 0x6000040 0xdc 0x0 0x20>;
				linux,phandle = <0x71>;
				phandle = <0x71>;
			};

			usdhc2grpgpio {
				fsl,pins = <0xe8 0x3 0x21 0xe9 0x3 0x21 0x9e 0x3 0x21>;
				linux,phandle = <0x74>;
				phandle = <0x74>;
			};

			usdhc2grp {
				fsl,pins = <0xde 0x0 0x6000041 0xdf 0x0 0x21 0xe0 0x0 0x21 0xe1 0x0 0x21 0xe3 0x0 0x21 0xe4 0x0 0x21 0x9f 0x0 0x21>;
				linux,phandle = <0x73>;
				phandle = <0x73>;
			};

			usdhc2grp100mhz {
				fsl,pins = <0xde 0x0 0x6000040 0xdf 0x0 0x20 0xe0 0x0 0x20 0xe1 0x0 0x20 0xe3 0x0 0x20 0xe4 0x0 0x20 0x9f 0x0 0x20>;
				linux,phandle = <0x75>;
				phandle = <0x75>;
			};

			usdhc2grp200mhz {
				fsl,pins = <0xde 0x0 0x6000040 0xdf 0x0 0x20 0xe0 0x0 0x20 0xe1 0x0 0x20 0xe3 0x0 0x20 0xe4 0x0 0x20 0x9f 0x0 0x20>;
				linux,phandle = <0x76>;
				phandle = <0x76>;
			};

			lpspi0grp {
				fsl,pins = <0x75 0x0 0x600004c 0x76 0x0 0x600004c 0x77 0x0 0x600004c 0x78 0x0 0x600004c 0x79 0x0 0x600004c>;
				linux,phandle = <0x5b>;
				phandle = <0x5b>;
			};

			flexcan0grp {
				fsl,pins = <0x93 0x0 0x21 0x92 0x0 0x21>;
				linux,phandle = <0x49>;
				phandle = <0x49>;
			};

			flexcan1grp {
				fsl,pins = <0x95 0x0 0x21 0x94 0x0 0x21>;
				linux,phandle = <0x4c>;
				phandle = <0x4c>;
			};

			flexcan2grp {
				fsl,pins = <0x97 0x0 0x21 0x96 0x0 0x21>;
				linux,phandle = <0x4e>;
				phandle = <0x4e>;
			};

			flexspi0grp {
				fsl,pins = <0xb5 0x0 0x600004c 0xb6 0x0 0x600004c 0xb7 0x0 0x600004c 0xb8 0x0 0x600004c 0xb9 0x0 0x600004c 0xba 0x0 0x600004c 0xbb 0x0 0x600004c 0xbc 0x0 0x600004c 0xbd 0x0 0x600004c 0xbe 0x0 0x600004c 0xbf 0x0 0x600004c 0xc0 0x0 0x600004c 0xc1 0x0 0x600004c 0xc2 0x0 0x600004c 0xc3 0x0 0x600004c 0xc4 0x0 0x600004c>;
				linux,phandle = <0x97>;
				phandle = <0x97>;
			};

			gpioledsgrp {
				fsl,pins = <0x60 0x3 0x21>;
				linux,phandle = <0xa3>;
				phandle = <0xa3>;
			};

			pcieagrp {
				fsl,pins = <0xc6 0x3 0x21 0xc7 0x3 0x21 0xc8 0x3 0x21>;
				linux,phandle = <0x9e>;
				phandle = <0x9e>;
			};

			pciebgrp {
				fsl,pins = <0xc9 0x3 0x21 0xca 0x3 0x21 0xcb 0x3 0x21>;
				linux,phandle = <0xa1>;
				phandle = <0xa1>;
			};

			usbotg1 {
				fsl,pins = <0x99 0x1 0x21>;
				linux,phandle = <0x86>;
				phandle = <0x86>;
			};
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <0x1 0xd 0x3f08 0x1 0xe 0x3f08 0x1 0xb 0x3f08 0x1 0xa 0x3f08>;
		clock-frequency = <0x7a1200>;
	};

	imx8qm-pm {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		dc0_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x20>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x8>;
			phandle = <0x8>;

			mipi0_dsi_power_domain {
				reg = <0x189>;
				#power-domain-cells = <0x0>;
				power-domains = <0x8>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0x9>;
				phandle = <0x9>;

				mipi0_dsi_i2c0 {
					reg = <0x18b>;
					#power-domain-cells = <0x0>;
					power-domains = <0x9>;
					linux,phandle = <0x58>;
					phandle = <0x58>;
				};

				mipi0_dsi_i2c1 {
					reg = <0x18c>;
					#power-domain-cells = <0x0>;
					power-domains = <0x9>;
				};

				mipi0_dsi_pwm0 {
					reg = <0x18a>;
					#power-domain-cells = <0x0>;
					power-domains = <0x9>;
				};
			};

			lvds0_power_domain {
				reg = <0x10a>;
				#power-domain-cells = <0x0>;
				power-domains = <0x8>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0xa>;
				phandle = <0xa>;

				lvds0_i2c0 {
					reg = <0x10c>;
					#power-domain-cells = <0x0>;
					power-domains = <0xa>;
					linux,phandle = <0x50>;
					phandle = <0x50>;
				};

				lvds0_pwm {
					reg = <0x10b>;
					#power-domain-cells = <0x0>;
					power-domains = <0xa>;
				};
			};

			hdmi_power_domain {
				reg = <0x197>;
				#power-domain-cells = <0x0>;
				power-domains = <0x8>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0xb>;
				phandle = <0xb>;

				hdmi_i2c {
					reg = <0x199>;
					#power-domain-cells = <0x0>;
					power-domains = <0xb>;
					linux,phandle = <0x46>;
					phandle = <0x46>;
				};
			};
		};

		dc1_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x31>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0xc>;
			phandle = <0xc>;

			PD_MIPI1 {
				reg = <0x18d>;
				#power-domain-cells = <0x0>;
				power-domains = <0xc>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0xd>;
				phandle = <0xd>;

				PD_MIPI1_I2C0 {
					reg = <0x18f>;
					#power-domain-cells = <0x0>;
					power-domains = <0xd>;
				};

				PD_MIPI1_I2C1 {
					reg = <0x190>;
					#power-domain-cells = <0x0>;
					power-domains = <0xd>;
				};

				PD_MIPI1_PWM {
					reg = <0x18e>;
					#power-domain-cells = <0x0>;
					power-domains = <0xd>;
				};
			};

			lvds1_power_domain {
				reg = <0x10e>;
				#power-domain-cells = <0x0>;
				power-domains = <0xc>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0xe>;
				phandle = <0xe>;

				lvds1_i2c0 {
					reg = <0x110>;
					#power-domain-cells = <0x0>;
					power-domains = <0xe>;
					linux,phandle = <0x52>;
					phandle = <0x52>;
				};

				lvds1_pwm {
					reg = <0x10f>;
					#power-domain-cells = <0x0>;
					power-domains = <0xe>;
				};
			};
		};

		lsio_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x214>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0xf>;
			phandle = <0xf>;

			lsio_pwm0 {
				reg = <0xbf>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm1 {
				reg = <0xc0>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm2 {
				reg = <0xc1>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm3 {
				reg = <0xc2>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm4 {
				reg = <0xc3>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm5 {
				reg = <0xc4>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm6 {
				reg = <0xc5>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_pwm7 {
				reg = <0xc6>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_kpp {
				reg = <0xd4>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio0 {
				reg = <0xc7>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio1 {
				reg = <0xc8>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio2 {
				reg = <0xc9>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio3 {
				reg = <0xca>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio4 {
				reg = <0xcb>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio5 {
				reg = <0xcc>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio6 {
				reg = <0xcd>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpio7 {
				reg = <0xce>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpt0 {
				reg = <0xcf>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
				linux,phandle = <0x66>;
				phandle = <0x66>;
			};

			lsio_gpt1 {
				reg = <0xd0>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpt2 {
				reg = <0xd1>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpt3 {
				reg = <0xd2>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_gpt4 {
				reg = <0xd3>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_fspi0 {
				reg = <0xed>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};

			lsio_fspi1 {
				reg = <0xee>;
				#power-domain-cells = <0x0>;
				power-domains = <0xf>;
			};
		};

		connectivity_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x214>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x10>;
			phandle = <0x10>;

			conn_usb0 {
				reg = <0x103>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x85>;
				phandle = <0x85>;
			};

			conn_usb0_phy {
				reg = <0x105>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x81>;
				phandle = <0x81>;
			};

			conn_usb1 {
				reg = <0x104>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};

			conn_usb2 {
				reg = <0x106>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x87>;
				phandle = <0x87>;
			};

			conn_usb2_phy {
				reg = <0x107>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x82>;
				phandle = <0x82>;
			};

			conn_sdhc0 {
				reg = <0xf8>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x6e>;
				phandle = <0x6e>;
			};

			conn_sdhc1 {
				reg = <0xf9>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x72>;
				phandle = <0x72>;
			};

			conn_sdhc2 {
				reg = <0xfa>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x79>;
				phandle = <0x79>;
			};

			conn_enet0 {
				reg = <0xfb>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x7a>;
				phandle = <0x7a>;
			};

			conn_enet1 {
				reg = <0xfc>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x7e>;
				phandle = <0x7e>;
			};

			conn_nand {
				reg = <0x109>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};

			conn_mlb0 {
				reg = <0xfd>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
				linux,phandle = <0x6b>;
				phandle = <0x6b>;
			};

			conn_dma4_ch0 {
				reg = <0x174>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};

			conn_dma4_ch1 {
				reg = <0x175>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};

			conn_dma4_ch2 {
				reg = <0x176>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};

			conn_dma4_ch3 {
				reg = <0x177>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};

			conn_dma4_ch4 {
				reg = <0x178>;
				#power-domain-cells = <0x0>;
				power-domains = <0x10>;
			};
		};

		hsio_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x214>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x11>;
			phandle = <0x11>;

			PD_HSIO_SERDES_0 {
				reg = <0x99>;
				#power-domain-cells = <0x0>;
				power-domains = <0x11>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0x12>;
				phandle = <0x12>;

				hsio_pcie0 {
					reg = <0x98>;
					#power-domain-cells = <0x0>;
					power-domains = <0x12>;
					linux,phandle = <0x9c>;
					phandle = <0x9c>;
				};

				hsio_pcie1 {
					reg = <0xa9>;
					#power-domain-cells = <0x0>;
					power-domains = <0x12>;
					linux,phandle = <0xa0>;
					phandle = <0xa0>;
				};
			};

			PD_HSIO_SERDES_1 {
				reg = <0xab>;
				#power-domain-cells = <0x0>;
				power-domains = <0x11>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0x13>;
				phandle = <0x13>;

				PD_HSIO_SATA0 {
					reg = <0xaa>;
					#power-domain-cells = <0x0>;
					power-domains = <0x13>;
				};
			};

			hsio_gpio {
				reg = <0xac>;
				#power-domain-cells = <0x0>;
				power-domains = <0x11>;
			};
		};

		dma_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x214>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x15>;
			phandle = <0x15>;

			dma_flexcan0 {
				reg = <0x69>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x48>;
				phandle = <0x48>;
			};

			dma_flexcan1 {
				reg = <0x6a>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x4b>;
				phandle = <0x4b>;
			};

			dma_flexcan2 {
				reg = <0x6b>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x4d>;
				phandle = <0x4d>;
			};

			dma_ftm0 {
				reg = <0x67>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_ftm1 {
				reg = <0x68>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_adc0 {
				reg = <0x65>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_adc1 {
				reg = <0x66>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_lpi2c0 {
				reg = <0x60>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x39>;
				phandle = <0x39>;
			};

			dma_lpi2c1 {
				reg = <0x61>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x3e>;
				phandle = <0x3e>;
			};

			dma_lpi2c2 {
				reg = <0x62>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x42>;
				phandle = <0x42>;
			};

			dma_lpi2c3 {
				reg = <0x63>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x43>;
				phandle = <0x43>;
			};

			dma_lpi2c4 {
				reg = <0x64>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x44>;
				phandle = <0x44>;
			};

			dma_lpuart0 {
				reg = <0x39>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x5c>;
				phandle = <0x5c>;
			};

			dma_lpuart1 {
				reg = <0x3a>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x5e>;
				phandle = <0x5e>;
			};

			dma_lpuart2 {
				reg = <0x3b>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x62>;
				phandle = <0x62>;
			};

			dma_lpuart3 {
				reg = <0x3c>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x63>;
				phandle = <0x63>;
			};

			dma_lpuart4 {
				reg = <0x3d>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x65>;
				phandle = <0x65>;
			};

			dma_spi0 {
				reg = <0x35>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
				linux,phandle = <0x5a>;
				phandle = <0x5a>;
			};

			dma_spi1 {
				reg = <0x36>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_spi2 {
				reg = <0x37>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_spi3 {
				reg = <0x38>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_emvsim0 {
				reg = <0x3e>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};

			dma_emvsim1 {
				reg = <0x3f>;
				#power-domain-cells = <0x0>;
				power-domains = <0x15>;
			};
		};

		PD_GPU {
			compatible = "nxp,imx8-pd";
			reg = <0x214>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x16>;
			phandle = <0x16>;

			PD_GPU0 {
				reg = <0x90>;
				#power-domain-cells = <0x0>;
				power-domains = <0x16>;
				linux,phandle = <0x67>;
				phandle = <0x67>;
			};

			PD_GPU1 {
				reg = <0x94>;
				#power-domain-cells = <0x0>;
				power-domains = <0x16>;
				linux,phandle = <0x68>;
				phandle = <0x68>;
			};
		};

		PD_VPU {
			compatible = "nxp,imx8-pd";
			reg = <0x166>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x17>;
			phandle = <0x17>;

			VPU_CORE {
				reg = <0x16f>;
				#power-domain-cells = <0x0>;
				power-domains = <0x17>;
				linux,phandle = <0x18>;
				phandle = <0x18>;
			};

			VPU_ENC {
				reg = <0x206>;
				#power-domain-cells = <0x0>;
				power-domains = <0x18>;
			};

			VPU_DEC {
				reg = <0x205>;
				#power-domain-cells = <0x0>;
				power-domains = <0x18>;
				linux,phandle = <0x89>;
				phandle = <0x89>;
			};
		};

		imaging_power_domain {
			compatible = "nxp,imx8-pd";
			reg = <0x179>;
			#power-domain-cells = <0x0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x19>;
			phandle = <0x19>;

			mipi_csi0_power_domain {
				reg = <0x191>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0x1a>;
				phandle = <0x1a>;

				mipi_csi0_i2c {
					reg = <0x193>;
					#power-domain-cells = <0x0>;
					power-domains = <0x1a>;
					linux,phandle = <0x53>;
					phandle = <0x53>;
				};

				mipi_csi0_pwm {
					reg = <0x192>;
					#power-domain-cells = <0x0>;
					power-domains = <0x1a>;
				};
			};

			mipi_csi1_power_domain {
				reg = <0x194>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0x1b>;
				phandle = <0x1b>;

				PD_MIPI_CSI1_I2C0 {
					reg = <0x196>;
					#power-domain-cells = <0x0>;
					power-domains = <0x1b>;
					linux,phandle = <0x55>;
					phandle = <0x55>;
				};

				PD_MIPI_CSI1_PWM {
					reg = <0x195>;
					#power-domain-cells = <0x0>;
					power-domains = <0x1b>;
				};
			};

			hdmi_rx_power_domain {
				reg = <0x19b>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				linux,phandle = <0x1c>;
				phandle = <0x1c>;

				hdmi_rx_i2c {
					reg = <0x19d>;
					#power-domain-cells = <0x0>;
					power-domains = <0x1c>;
				};
			};

			imaging_pdma1 {
				reg = <0x17a>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x2e>;
				phandle = <0x2e>;
			};

			imaging_pdma2 {
				reg = <0x17b>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x2f>;
				phandle = <0x2f>;
			};

			imaging_pdma3 {
				reg = <0x17c>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x30>;
				phandle = <0x30>;
			};

			imaging_pdma4 {
				reg = <0x17d>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x31>;
				phandle = <0x31>;
			};

			imaging_pdma5 {
				reg = <0x17e>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x32>;
				phandle = <0x32>;
			};

			imaging_pdma6 {
				reg = <0x17f>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x33>;
				phandle = <0x33>;
			};

			imaging_pdma7 {
				reg = <0x180>;
				#power-domain-cells = <0x0>;
				power-domains = <0x19>;
				linux,phandle = <0x34>;
				phandle = <0x34>;
			};
		};
	};

	thermal-sensor {
		compatible = "nxp,imx8qm-sc-tsens";
		tsens-num = <0x5>;
		#thermal-sensor-cells = <0x1>;
		linux,phandle = <0x1d>;
		phandle = <0x1d>;
	};

	thermal-zones {

		cpu-thermal0 {
			polling-delay-passive = <0xfa>;
			polling-delay = <0x7d0>;
			thermal-sensors = <0x1d 0x0>;

			trips {

				trip0 {
					temperature = <0x14c08>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				trip1 {
					temperature = <0x1f018>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};
		};

		cpu-thermal1 {
			polling-delay-passive = <0xfa>;
			polling-delay = <0x7d0>;
			thermal-sensors = <0x1d 0x1>;

			trips {

				trip0 {
					temperature = <0x14c08>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				trip1 {
					temperature = <0x1f018>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};
		};

		gpu-thermal0 {
			polling-delay-passive = <0xfa>;
			polling-delay = <0x7d0>;
			thermal-sensors = <0x1d 0x2>;

			trips {

				trip0 {
					temperature = <0x14c08>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				trip1 {
					temperature = <0x1f018>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};
		};

		gpu-thermal1 {
			polling-delay-passive = <0xfa>;
			polling-delay = <0x7d0>;
			thermal-sensors = <0x1d 0x3>;

			trips {

				trip0 {
					temperature = <0x14c08>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				trip1 {
					temperature = <0x1f018>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};
		};

		drc-thermal0 {
			polling-delay-passive = <0xfa>;
			polling-delay = <0x7d0>;
			thermal-sensors = <0x1d 0x4>;

			trips {

				trip0 {
					temperature = <0x14c08>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				trip1 {
					temperature = <0x1f018>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};
		};
	};

	rtc {
		compatible = "fsl,imx-sc-rtc";
	};

	lvds_region@56240000 {
		compatible = "fsl,imx8qm-lvds-region", "syscon";
		reg = <0x0 0x56240000 0x0 0x10000>;
		linux,phandle = <0x21>;
		phandle = <0x21>;
	};

	lvds_region@57240000 {
		compatible = "fsl,imx8qm-lvds-region", "syscon";
		reg = <0x0 0x57240000 0x0 0x10000>;
		linux,phandle = <0x29>;
		phandle = <0x29>;
	};

	serial@5a060000 {
		compatible = "fsl,imx8qm-lpuart";
		reg = <0x0 0x5a060000 0x0 0x1000>;
		interrupts = <0x0 0x159 0x4>;
		interrupt-parent = <0x1>;
		clocks = <0x4 0x72 0x4 0x70>;
		clock-names = "per", "ipg";
		assigned-clocks = <0x4 0x72>;
		assigned-clock-rates = <0x4c4b400>;
		power-domains = <0x5c>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <0x5d>;
	};

	gpt0@5d140000 {
		compatible = "fsl,imx8qm-gpt";
		reg = <0x0 0x5d140000 0x0 0x4000>;
		interrupts = <0x0 0x50 0x4>;
		clocks = <0x4 0x25 0x4 0x22c>;
		clock-names = "ipg", "per";
		power-domains = <0x66>;
	};

	gpu@53100000 {
		compatible = "fsl,imx8-gpu";
		reg = <0x0 0x53100000 0x0 0x40000>;
		interrupts = <0x0 0x40 0x4>;
		clocks = <0x4 0x107 0x4 0x109>;
		clock-names = "core", "shader";
		assigned-clocks = <0x4 0x107 0x4 0x109>;
		assigned-clock-rates = <0x2faf0800 0x3b9aca00>;
		fsl,sc_gpu_pid = <0x90>;
		power-domains = <0x67>;
		status = "okay";
		linux,phandle = <0x69>;
		phandle = <0x69>;
	};

	gpu@54100000 {
		compatible = "fsl,imx8-gpu";
		reg = <0x0 0x54100000 0x0 0x40000>;
		interrupts = <0x0 0x41 0x4>;
		clocks = <0x4 0x10b 0x4 0x10d>;
		clock-names = "core", "shader";
		assigned-clocks = <0x4 0x10b 0x4 0x10d>;
		assigned-clock-rates = <0x2faf0800 0x3b9aca00>;
		fsl,sc_gpu_pid = <0x94>;
		power-domains = <0x68>;
		status = "okay";
		linux,phandle = <0x6a>;
		phandle = <0x6a>;
	};

	imx8_gpu_ss {
		compatible = "fsl,imx8qm-gpu", "fsl,imx8-gpu-ss";
		cores = <0x69 0x6a>;
		reg = <0x0 0x80000000 0x0 0x80000000 0x0 0x0 0x0 0x8000000>;
		reg-names = "phys_baseaddr", "contiguous_mem";
		status = "okay";
	};

	ethernet@5b040000 {
		compatible = "fsl,imx8qm-fec";
		reg = <0x0 0x5b040000 0x0 0x10000>;
		interrupts = <0x0 0x102 0x4 0x0 0x100 0x4 0x0 0x101 0x4 0x0 0x103 0x4>;
		clocks = <0x4 0x4d 0x4 0x4b 0x4 0x4f 0x4 0x53 0x4 0x51>;
		clock-names = "ipg", "ahb", "enet_clk_ref", "ptp", "enet_2x_txclk";
		assigned-clocks = <0x4 0x50 0x4 0x2a0 0x4 0x53>;
		assigned-clock-rates = <0xee6b280 0x7735940 0x7735940>;
		fsl,num-tx-queues = <0x3>;
		fsl,num-rx-queues = <0x3>;
		power-domains = <0x7a>;
		iommus = <0x7b 0x12 0x7f80>;
		status = "disabled";
		pinctrl-names = "default";
		pinctrl-0 = <0x7c>;
		phy-mode = "rgmii";
		phy-handle = <0x7d>;
		fsl,magic-packet;
		fsl,rgmii_txc_dly;
		fsl,rgmii_rxc_dly;

		mdio {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			ethernet-phy@0 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <0x0>;
				at803x,eee-disabled;
				at803x,vddio-1p8v;
				linux,phandle = <0x7d>;
				phandle = <0x7d>;
			};

			ethernet-phy@1 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <0x1>;
				at803x,eee-disabled;
				at803x,vddio-1p8v;
				linux,phandle = <0x80>;
				phandle = <0x80>;
			};
		};
	};

	ethernet@5b050000 {
		compatible = "fsl,imx8qm-fec";
		reg = <0x0 0x5b050000 0x0 0x10000>;
		interrupts = <0x0 0x106 0x4 0x0 0x104 0x4 0x0 0x105 0x4 0x0 0x107 0x4>;
		clocks = <0x4 0x57 0x4 0x55 0x4 0x59 0x4 0x5d 0x4 0x5b>;
		clock-names = "ipg", "ahb", "enet_clk_ref", "ptp", "enet_2x_txclk";
		assigned-clocks = <0x4 0x5a 0x4 0x2a2 0x4 0x5d>;
		assigned-clock-rates = <0xee6b280 0x7735940 0x7735940>;
		fsl,num-tx-queues = <0x3>;
		fsl,num-rx-queues = <0x3>;
		power-domains = <0x7e>;
		iommus = <0x7b 0x12 0x7f80>;
		status = "disabled";
		pinctrl-names = "default";
		pinctrl-0 = <0x7f>;
		phy-mode = "rgmii-id";
		phy-handle = <0x80>;
		fsl,magic-packet;
	};

	acm@59e00000 {
		compatible = "nxp,imx8qm-acm";
		reg = <0x0 0x59e00000 0x0 0x1d0000>;
		status = "okay";
	};

	display-subsystem {
		compatible = "fsl,imx-display-subsystem";
		ports = <0x98 0x99 0x9a 0x9b>;
	};

	dma_cap {
		compatible = "dma-capability";
		only-dma-mask32 = <0x1>;
	};

	hsio@5f080000 {
		compatible = "fsl,imx8qm-hsio", "syscon";
		reg = <0x0 0x5f080000 0x0 0xf0000>;
		linux,phandle = <0x9d>;
		phandle = <0x9d>;
	};

	chosen {
		bootargs = "console=ttyLP0,115200 root=/dev/ram rootwait rw earlycon=lpuart32,0x5a060000,115200 clk_ignore_unused maxcpus=0";
		stdout-path = "/serial@5a060000";
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		regulator@0 {
			compatible = "regulator-fixed";
			reg = <0x2>;
			regulator-name = "cs42888_supply";
			regulator-min-microvolt = <0x325aa0>;
			regulator-max-microvolt = <0x325aa0>;
			regulator-always-on;
			linux,phandle = <0x3b>;
			phandle = <0x3b>;
		};
	};
};
